<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnesstrener">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessTrener">
        <activity android:name=".authorization.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Notification" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT">
                </action>
            </intent-filter>
        </service>
        <activity
            android:name=".calendar.Calendar"
            android:label="Calendar">
        </activity>
        <activity android:name=".training_and_food.Training"
            android:label="Training">
        </activity>
        <activity android:name=".training_and_food.FoodRec"
            android:label="FoodRecommendation">
        </activity>
        <activity
            android:name=".authentification.Register"
            android:label="Login">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Registration">
        </activity>
        <activity
            android:name=".Exercise"
            android:label="Exercise">
        </activity>
        <activity
            android:name=".profile.Profile"
            android:label="Profile">
        </activity>
        <activity
            android:name=".exercise.Press"
            android:label="Press">
        </activity>
        <activity
            android:name=".exercise.Arms"
            android:label="Arms">
        </activity>
        <activity
            android:name=".exercise.Back"
            android:label="Back">
        </activity>
        <activity
            android:name=".exercise.Chest"
            android:label="Chest">
        </activity>
        <activity
            android:name=".exercise.Legs"
            android:label="Legs">
        </activity>
        <activity
            android:name=".exercise.Cardio"
            android:label="Cardio">
        </activity>
        <activity android:name=".RecyclerView.Activity_exercise_list">
        </activity>
        <activity
            android:name=".exercise_in_press.Twisting"
            android:label="Twisting">
        </activity>
        <activity
            android:name=".exercise_in_press.Planka"
            android:label="Planka"></activity>
        <activity
            android:name=".exercise_in_press.SidePlanka"
            android:label="SidePlanka"></activity>
        <activity
            android:name=".exercise_in_press.Bicycle"
            android:label="Bicycle"></activity>
        <activity
            android:name=".exercise_in_press.LegsUp"
            android:label="LegsUp"></activity>
        <activity
            android:name=".exercise_in_arms.Molotok"
            android:label="Molotok"></activity>
        <activity
            android:name=".exercise_in_arms.DiamondOtjim"
            android:label="DiamondOtjim"></activity>
        <activity
            android:name=".exercise_in_arms.FranceJim"
            android:label="FranceJim"></activity>
        <activity
            android:name=".exercise_in_arms.OntjimSkamii"
            android:label="OntjimSkamii"></activity>
        <activity
            android:name=".exercise_in_arms.UpShtanga"
            android:label="UpShtanga"></activity>
        <activity
            android:name=".exercise_in_back.HyperExtenzia"
            android:label="HyperExtenzia"></activity>
        <activity
            android:name=".exercise_in_back.Podtyagivaniya"
            android:label="Podtyagivaniya"></activity>
        <activity
            android:name=".exercise_in_back.TyagaGanteli"
            android:label="TyagaGanteli"></activity>
        <activity
            android:name=".exercise_in_back.TyagaTrosa"
            android:label="TyagaTrosa"></activity>
        <activity
            android:name=".exercise_in_back.TyagaVerhnegoBlocka"
            android:label="TyagaVerhnegoBlocka"></activity>
        <activity
            android:name=".exercise_in_chest.JimGantelei"
            android:label="JimGantelei"></activity>
        <activity
            android:name=".exercise_in_chest.JimShtangiLeja"
            android:label="JimShtangiLeja"></activity>
        <activity
            android:name=".exercise_in_chest.Otjimaniya"
            android:label="Otjimaniya"></activity>
        <activity
            android:name=".exercise_in_chest.OtjimNaBrysiah"
            android:label="OtjimNaBrysiah"></activity>
        <activity
            android:name=".exercise_in_chest.SvedenieRyk"
            android:label="SvedenieRyk"></activity>
        <activity
            android:name=".exercise_in_legs.PrisedaniyaSoShtangoi"
            android:label="PrisedaniyaSoShtangoi"></activity>
        <activity
            android:name=".exercise_in_legs.SgibanieNog"
            android:label="SgibanieNog"></activity>
        <activity
            android:name=".exercise_in_legs.TyagaSGantelyami"
            android:label="TyagaSGantelyami"></activity>
        <activity
            android:name=".exercise_in_legs.VipadiSGantelyami"
            android:label="VipadiSGantelyami"></activity>
        <activity
            android:name=".exercise_in_legs.Zashagivanie"
            android:label="Zashagivanie"></activity>
        <activity
            android:name=".exercise_in_cardio.Stepper"
            android:label="Stepper"></activity>
        <activity
            android:name=".exercise_in_cardio.BegovayaDorojka"
            android:label="BegovayaDorojka"></activity>
        <activity
            android:name=".exercise_in_cardio.Berpi"
            android:label="Berpi"></activity>
        <activity
            android:name=".exercise_in_cardio.JumpWithSkakalka"
            android:label="JumpWithSkakalka"></activity>
        <activity
            android:name=".exercise_in_cardio.Velotrenajor"
            android:label="Velotrenajor"></activity>
        <activity android:name=".food_in_training.Dairy"
            android:label="Dairy">
        </activity>
        <activity android:name=".food_in_training.Fish"
            android:label="Fish">
        </activity>
        <activity android:name=".food_in_training.Meat"
            android:label="Meat">
        </activity>
        <activity android:name=".food_in_training.Nuts"
            android:label="Nuts">
        </activity>
        <activity android:name=".food_in_training.Vegetables"
            android:label="Vegetables">
        </activity>
        <activity android:name=".food_in_training.Water"
            android:label="Water">
        </activity>
        <activity android:name=".food_in_training.Wheat"
            android:label="Wheat">
        </activity>
        <activity android:name=".food_in_dairy.Kefir"
            android:label="Kefir">
        </activity>
        <activity android:name=".food_in_dairy.Cheese"
            android:label="Cheese">
        </activity>
        <activity android:name=".food_in_dairy.Eggs"
            android:label="Eggs">
        </activity>
        <activity android:name=".food_in_dairy.Yogurt"
            android:label="Yogurt">
        </activity>
        <activity android:name=".food_in_meat.Chicken"
            android:label="Chicken">
        </activity>
        <activity android:name=".food_in_meat.Indeika"
            android:label="Indeika">
        </activity>
        <activity android:name=".food_in_meat.Rabbit"
            android:label="Rabbit">
        </activity>
        <activity android:name=".food_in_meat.Telyatina"
            android:label="Telyatina">
        </activity>
        <activity android:name=".food_in_fish.Losos"
            android:label="Losos">
        </activity>
        <activity android:name=".food_in_fish.Mintai"
            android:label="Mintai">
        </activity>
        <activity android:name=".food_in_fish.Treska"
            android:label="Treska">
        </activity>
        <activity android:name=".food_in_fish.Tynec"
            android:label="Tynec">
        </activity>
        <activity android:name=".food_in_vegetables.Carrot"
            android:label="Carrot">
        </activity>
        <activity android:name=".food_in_vegetables.Cucumber"
            android:label="Cucumber">
        </activity>
        <activity android:name=".food_in_vegetables.Kabachki"
            android:label="Kabachki">
        </activity>
        <activity android:name=".food_in_vegetables.Kapysta"
            android:label="Kapysta">
        </activity>
        <activity android:name=".food_in_nuts.Cashew"
            android:label="Cashew">
        </activity>
        <activity android:name=".food_in_nuts.Funduk"
            android:label="Funduk">
        </activity>
        <activity android:name=".food_in_nuts.GrezkiyOreh"
            android:label="GrezkiyOreh">
        </activity>
        <activity android:name=".food_in_nuts.Mindal"
            android:label="Mindal">
        </activity>
        <activity android:name=".food_in_wheat.Celnozernovoi"
            android:label="Celnozernovoi">
        </activity>
        <activity android:name=".food_in_wheat.Grecha"
            android:label="Grecha">
        </activity>
        <activity android:name=".food_in_wheat.Makaroni"
            android:label="Makaroni">
        </activity>
        <activity android:name=".food_in_wheat.OtrybnoiHleb"
            android:label="OtrybnoiHleb">
        </activity>
        <activity android:name=".training_in.Ponedelnik"
            android:label="Ponedelnik">
        </activity>
        <activity android:name=".training_in.Sreda"
            android:label="Sreda">
        </activity>
        <activity android:name=".training_in.Pyatniza"
            android:label="Pyatniza">
        </activity>
    </application>

</manifest>